<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StormInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StormInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serwerSOAPBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="serwerSOAPBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://burze.dzis.net/soap.php" binding="basicHttpBinding"
                bindingConfiguration="serwerSOAPBinding" contract="StormApi.serwerSOAPPort"
                name="serwerSOAPPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <StormInfo.Properties.Settings>
            <setting name="LocationName" serializeAs="String">
                <value>Type here your location</value>
            </setting>
            <setting name="StormRange" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="NotificationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </StormInfo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StormInfo.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </StormInfo.Properties.Settings>
    </applicationSettings>
</configuration>